@elabcom rc file Version 1.0
[oh]
invokeDir = /home/rfic/Desktop/adapted/async_fifo/rtl_sim
hostCommand = -elab simv.daidir/kdb -simflow -top async_fifo_tb +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
