@libnz4w_r.so rc file Version 1.0
[oh]
invokeDir = /home/rfic/Desktop/adapted/async_fifo/rtl_sim
hostCommand = -usevlogan_front -2012 -enable_vfs_mp -enable_vfs_mt -flush_textdoc_sdb -enable_vfs_lock -incsave -binddoc_check
simType = VCS
